# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
.venv/
env/
ENV/
env.bak/
venv.bak/
.env.local
.env.*.local

# PyCharm / VSCode settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets / credentials
secrets/
*.json

# Test-related
htmlcov/
coverage.*
.pytest_cache/
.cache/
.tox/
.nox/
cover/
.nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy / pyright / pylance
.mypy_cache/
.pyright/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Jupyter / IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Spyder / Rope / MkDocs
.spyderproject
.spyproject
.ropeproject
/site

# Poetry, pipenv, pdm, uv
#pipenv.lock
#poetry.lock
#pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# js
node_modules/

# tmp
*.tmp

# Vite / npm / Yarn
.vite/